$board-width: 1000px;

:host {
    display: flex;
    align-items: center;

    .board-container {

        position: relative;

        width: $board-width;
        height: $board-width * 9/16;
        
        box-shadow: 0px 0px 10px silver;

        overflow: hidden;

        app-control-calc {
            z-index: 2;
        }
        app-board {
            z-index: 1;
        }

        @media screen and (max-width: 800px) {
              width: 100wh;
              height: 100vh;
        }

    }

    .debug-box {
        min-width: 300px;
        max-height: 90vh;
        overflow-x: hidden;
        overflow-y: scroll;
        border: 2px dashed mediumorchid;
        padding: 5px;
        margin: 5px;
        @media screen and (max-width: 800px) {
            display: none;
      }
    }
}