$board-width: 82vw;

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: silver;

    .board-container {
        position: relative;

        box-shadow: 0 0 15px black;
        border-radius: 15px;
        
        overflow: hidden;

        width: $board-width;
        height: $board-width * 9 / 16;

        @media screen and (max-width: 600px) { // make breakpoint global
              border-radius: 0;
              width: 100vw;
              height: 100vh;
        }

        app-control-calc {
            z-index: 2;
        }
        app-board {
            z-index: 1;
        }

        .game-over-calc {
            z-index: 3;
            position: absolute;
            width: 100%;
            height: 100%;

            display: flex;
            top: 0;
            left: 0;

            justify-content: center;
            align-items: center;

            font-family: 'pixel';

            .game-over-box {
                
                color: white;
                text-align: center;

                .game-over {
                    font-size: 80px;
                    font-family: 'pixel-3d';
                    animation: gameOver 3s infinite;
                }
                .final-score {
                    margin: 20px;
                    
                    font-size: 30px;
                }
                .play-again-btn {
                    display: inline-block;
                    padding: 20px;
                    
                    border: 1px solid white;
                    
                    font-size: 20px;
                    user-select: none;

                    &:hover{
                        background-color: rgba(255,255,255,0.2);
                    }
                }
               
            }
        }
        
    }

    // TODO remove it when no used
    .debug-box {
        display: none;
        min-width: 300px;
        max-height: 90vh;
        overflow-x: hidden;
        overflow-y: scroll;
        border: 2px dashed mediumorchid;
        padding: 5px;
        margin: 5px;
        @media screen and (max-width: 800px) {
            display: none;
      }
    }
}

@keyframes gameOver {
    50% {
        transform: scale(1.2, 0.8);
    }
}