/* You can add global styles to this file, and also import other style files */

body {
    margin: 0px;
}

// fonts

@font-face {
	font-family: "pixel-3d";
	src: url('assets/fonts/pixel-3d.ttf');
}

@font-face {
	font-family: "pixel";
	src: url('assets/fonts/pixel-small.TTF');
}

// animations shared

@keyframes touchedByLaser {
  33% {
      filter: saturate(3);
      transform: rotate(10deg);
  }
  66% {
      transform: rotate(-10deg);
  }
}