:host {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;

  .ship {
    display: block;
    width: 100%;
    height: auto;

    animation: default 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .ship.isCreated {
    animation: created 2s linear;
  }

  .ship.isGoingRight {
    animation-name: goingRight;
    animation-duration: 0.5s;
  }
  .ship.isGoingLeft {
    animation-name: goingLeft;
    animation-duration: 0.5s;
  }

  .ship.isTouchedByLaser {
    animation-name: touchedByLaser;
    animation-duration: 0.3s;
  }
  .ship.isShooting {
    animation-name: shooting;
    animation-duration: 0.15s;
  }

  .ship.isDying {
    animation: isDying 2s infinite;
  }

  .ship.ship.isDyingALot {
    animation: isDying 1s infinite;
  }

  .life {
    text-align: right;
    color: red;
    font-size: 2em;
    font-family: "pixel";
    opacity: 0.8;

    @media screen and (max-width: 600px) {
      font-size: 1.3em;
  }
  }
}

// animations

@keyframes created {
  0% {
    transform: translateY(200%);
  }
}

@keyframes goingRight {
  30% {
    transform: rotate(10deg);
  }
}

@keyframes goingLeft {
  30% {
    transform: rotate(-10deg);
  }
}

@keyframes shooting {
  50% {
    transform: translateY(15%);
  }
}

@keyframes default {
  50% {
    transform:  scale(1, 1);
  }
}

@keyframes isDying {
  50% {
    filter: saturate(2)
  }
}